<a href="https://colab.research.google.com/github/RonVest92/ASSET-PRICING-DL-RNN/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SPORTSLITE

## Cynthia Ibeawuchi, Ronald Ddibya, Pratik Maitra

## Prediction of Soccer Matches using Machine Learning

In [ ]:
from ipywidgets import Image # Let us start off with a soccer image using ipywidgets
Image(value=open("soccer.png", 'rb').read(),width="600")

Image(value=b'RIFFl\xf5\x04\x00WEBPVP8 `\xf5\x04\x0001\x10\x9d\x01*\x08\x07\xb0\x04>m0\x93G&#\xa2\xa1\xa9...',â€¦

## Introduction

Football, also known as soccer is a game that needs no introduction. Often dubbed the beautiful game, it has lately been a subject of various machine learning researchers who want to crunch the numbers and predict the outcomes of the soccer matches. Inspired by them we too make an effort to observe how ML models are at soccer outcome predictions.

## Goals

We list out some of our goals and objectives for this project.
- Predict soccer match outcomes by treating it as a classification problem and then implement a select few ML classifiers.
- Observe how certain features like home/away status , crowd attendance and other factors affect the accuracy of the models.
- Vary the training and testing data sets and see the variations in the outcome.

## Data and pre-processing

We downloaded the data from football statistics sites like https://fbref.com/en/ and www.football-data.co.uk. We make use of the downloaded CSV files and pre-process the data. We use the 2021-2022 English Premeir League dataset which is a complete dataset of 380 matches.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data.csv", index_col=0) # Data for EPL 2021-2022

In [ ]:
df.head()     # Each row is a single match

,Time,HT_rank,HomeTeam,AT_rank,AwayTeam,Rank_diff,Rank_bin,Home_venue,Day,Day_bin,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
Date,,,,,,,,,,,,,,,,,,,,,
22/10/2021,08:00:00 PM,8,Arsenal,11,Aston Villa,3,1,1,Fri,0,...,9,4,17,10,7,4,2,5,0,0
19/02/2022,03:00:00 PM,8,Arsenal,20,Brentford,12,1,1,Sat,0,...,8,2,10,5,14,0,1,1,0,0
09/04/22,03:00:00 PM,8,Arsenal,16,Brighton,8,1,1,Sat,0,...,4,3,12,19,11,2,3,4,0,0
23/01/2022,02:00:00 PM,8,Arsenal,17,Burnley,9,1,1,Sun,1,...,5,1,9,13,12,4,0,2,0,0
22/08/2021,04:30:00 PM,8,Arsenal,4,Chelsea,-4,0,1,Sun,1,...,3,5,10,4,9,8,3,0,0,0

In [ ]:
df.tail()

,Time,HT_rank,HomeTeam,AT_rank,AwayTeam,Rank_diff,Rank_bin,Home_venue,Day,Day_bin,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
Date,,,,,,,,,,,,,,,,,,,,,
15/05/2022,02:00:00 PM,13,Wolves,18,Norwich,5,1,1,Sun,1,...,4,2,5,10,5,3,0,3,0,0
15/01/2022,03:00:00 PM,13,Wolves,15,Southampton,2,1,1,Sat,0,...,5,10,13,14,2,10,2,3,0,0
22/08/2021,02:00:00 PM,13,Wolves,7,Tottenham,-6,0,1,Sun,1,...,6,6,9,7,5,4,1,4,0,0
10/03/22,07:30:00 PM,13,Wolves,19,Watford,6,1,1,Thu,0,...,5,0,11,10,5,2,2,2,0,0
20/11/2021,03:00:00 PM,13,Wolves,6,West Ham,-7,0,1,Sat,0,...,5,3,6,9,7,3,1,1,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 22/10/2021 to 20/11/2021
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        380 non-null    object
 1   HT_rank     380 non-null    int64
 2   HomeTeam    380 non-null    object
 3   AT_rank     380 non-null    int64
 4   AwayTeam    380 non-null    object
 5   Rank_diff   380 non-null    int64
 6   Rank_bin    380 non-null    int64
 7   Home_venue  380 non-null    int64
 8   Day         380 non-null    object
 9   Day_bin     380 non-null    int64
 10  Attendance  380 non-null    int64
 11  Attnd_bin   380 non-null    int64
 12  Result_bin  380 non-null    int64
 13  Score       380 non-null    object
 14  FTHG        380 non-null    int64
 15  FTAG        380 non-null    int64
 16  FTR         380 non-null    object
 17  HTHG        380 non-null    int64
 18  HTAG        380 non-null    int64
 19  HTR         380 non-null    object
 20  Referee     380 non-null    object
 21  HS          380 non-null    int64
 22  AS          380 non-null    int64
 23  HST         380 non-null    int64
 24  AST         380 non-null    int64
 25  HF          380 non-null    int64
 26  AF          380 non-null    int64
 27  HC          380 non-null    int64
 28  AC          380 non-null    int64
 29  HY          380 non-null    int64
 30  AY          380 non-null    int64
 31  HR          380 non-null    int64
 32  AR          380 non-null    int64
dtypes: int64(25), object(8)
memory usage: 100.9+ KB

In [ ]:
df.shape       # we have 380 matches (20 teams and each team playing against the other)

(380, 33)

In [ ]:
df.isnull().any(axis=1)                                     # quick check for null values

Date
22/10/2021    False
19/02/2022    False
09/04/22      False
23/01/2022    False
22/08/2021    False
              ...
15/05/2022    False
15/01/2022    False
22/08/2021    False
10/03/22      False
20/11/2021    False
Length: 380, dtype: bool

How many matches do we have for each team in our data. Our goal is to real first understand the data set we have

In [ ]:
df["HomeTeam"].value_counts()

Brentford         19
Man United        19
Liverpool         19
West Ham          19
Crystal Palace    19
Southampton       19
Norwich           19
Tottenham         19
Watford           19
Aston Villa       19
Arsenal           19
Wolves            19
Chelsea           19
Brighton          19
Leeds             19
Burnley           19
Newcastle         19
Man City          19
Everton           19
Leicester         19
Name: HomeTeam, dtype: int64

In [ ]:
df[df['HomeTeam'] == 'Liverpool']

,Time,HT_rank,HomeTeam,AT_rank,AwayTeam,Rank_diff,Rank_bin,Home_venue,Day,Day_bin,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
Date,,,,,,,,,,,,,,,,,,,,,
20/11/2021,05:30:00 PM,3,Liverpool,8,Arsenal,5,1,1,Sat,0,...,9,3,15,12,6,1,2,0,0,0
11/12/21,03:00:00 PM,3,Liverpool,11,Aston Villa,8,1,1,Sat,0,...,5,0,13,6,11,3,1,2,0,0
16/01/2022,02:00:00 PM,3,Liverpool,20,Brentford,17,1,1,Sun,1,...,13,1,6,6,9,0,0,1,0,0
30/10/2021,03:00:00 PM,3,Liverpool,16,Brighton,13,1,1,Sat,0,...,3,6,8,5,5,3,2,2,0,0
21/08/2021,12:30:00 PM,3,Liverpool,17,Burnley,14,1,1,Sat,0,...,9,3,6,12,8,4,0,0,0,0
28/08/2021,05:30:00 PM,3,Liverpool,4,Chelsea,1,1,1,Sat,0,...,7,3,13,4,12,3,0,2,0,1
18/09/2021,03:00:00 PM,3,Liverpool,14,Crystal Palace,11,1,1,Sat,0,...,10,2,17,11,10,5,3,1,0,0
24/04/2022,04:30:00 PM,3,Liverpool,10,Everton,7,1,1,Sun,1,...,4,1,8,8,13,1,2,5,0,0
23/02/2022,07:45:00 PM,3,Liverpool,9,Leeds,6,1,1,Wed,0,...,15,2,5,11,4,0,0,3,0,0
10/02/22,07:45:00 PM,3,Liverpool,5,Leicester,2,1,1,Thu,0,...,11,1,11,7,7,6,1,0,0,0
03/10/21,04:30:00 PM,3,Liverpool,1,Man City,-2,0,1,Sun,1,...,4,3,10,12,3,4,3,3,0,0
19/04/2022,08:00:00 PM,3,Liverpool,2,Man United,-1,0,1,Tue,0,...,5,1,3,6,10,2,1,2,0,0
16/12/2021,08:00:00 PM,3,Liverpool,12,Newcastle,9,1,1,Thu,0,...,8,2,9,4,11,0,1,3,0,0
19/02/2022,03:00:00 PM,3,Liverpool,18,Norwich,15,1,1,Sat,0,...,8,1,7,8,9,4,0,1,0,0
27/11/2021,03:00:00 PM,3,Liverpool,15,Southampton,12,1,1,Sat,0,...,6,3,7,14,5,7,0,1,0,0
07/05/22,07:45:00 PM,3,Liverpool,7,Tottenham,4,1,1,Sat,0,...,3,3,12,8,11,5,3,2,0,0
02/04/22,12:30:00 PM,3,Liverpool,19,Watford,16,1,1,Sat,0,...,3,2,9,8,9,3,1,1,0,0
05/03/22,05:30:00 PM,3,Liverpool,6,West Ham,3,1,1,Sat,0,...,5,5,7,7,4,6,2,1,0,0
22/05/2022,04:00:00 PM,3,Liverpool,13,Wolves,10,1,1,Sun,1,...,8,5,6,3,5,3,1,0,0,0

In [ ]:
df["Home_venue"]

Date
22/10/2021    1
19/02/2022    1
09/04/22      1
23/01/2022    1
22/08/2021    1
             ..
15/05/2022    1
15/01/2022    1
22/08/2021    1
10/03/22      1
20/11/2021    1
Name: Home_venue, Length: 380, dtype: int64

   ### Using the Scikit-Learn classifier models on our dataset

We make use of the Random Forest Classifer , Logistic Regression classifer, Support Vector Machine classifer and KNN Classifer models.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.svm import SVC

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

Now we shall split-up our training and test data. We split the data into 70:30 ratio first. We also define the features and target column for our classification. The target is obviously the result of the soccer match.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
features = ["Home_venue", "Rank_diff","Attendance","Day_bin"] # Features to predict the outcome

In [ ]:
target = "Result_bin" # The column we want to predict

In [ ]:
X = df[features] # Get the feature data
y = df[target]   # Get the target data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=0) # Split the dataset on 70:30 ratio

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [ ]:
svc= SVC(kernel="linear")
svc.fit(X_train, y_train)

SVC(kernel='linear')

In [ ]:
knc = KNeighborsClassifier(n_neighbors=3)
knc.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
rfc.score(X_train, y_train) ,rfc.score(X_test, y_test)

(1.0, 0.6140350877192983)

In [ ]:
lr.score(X_train, y_train) , lr.score(X_test, y_test)

(0.6578947368421053, 0.6140350877192983)

In [ ]:
svc.score(X_train, y_train) , svc.score(X_test, y_test)

(0.6766917293233082, 0.6140350877192983)

In [ ]:
knc.score(X_train, y_train) , knc.score(X_test, y_test)

(0.8082706766917294, 0.631578947368421)

### Great! We have achieved one of our goals !!! We have implemented the classifier models correctly.

In [ ]:
Image(value=open("goal.png", 'rb').read(),width="600")

Image(value=b'RIFF\x9e\x89\x08\x00WEBPVP8 \x92\x89\x08\x00\xf0\xad\x12\x9d\x01*\xa0\x05\x88\x03>\x1d\x0c\x85A\â€¦

### Now let us change things up and play around with the models and features

We want to implement something to choose the models as per our wish , remove features , change the training and test datasets and see how things play out. We use three widgets for this purpose and observe the changes with the help of charts and graphs.

In [ ]:
from ipywidgets import widgets, interactive, Layout

In [ ]:
def model_ch(model):

    if model == "RFC":
        return rfc.score(X_train, y_train) ,rfc.score(X_test, y_test)
    elif model == "LR":
        return lr.score(X_train, y_train) ,rfc.score(X_test, y_test)
    elif model == "LSV":
        svc= SVC(kernel="linear")
        svc.fit(X_train, y_train)
        return svc.score(X_train, y_train) ,svc.score(X_test, y_test)
    elif model == "PolySV":
        svc= SVC(kernel="poly")
        svc.fit(X_train, y_train)
        return svc.score(X_train, y_train) ,svc.score(X_test, y_test)
    elif model == "RbfSVC":
        svc= SVC(kernel="rbf")
        svc.fit(X_train, y_train)
        return svc.score(X_train, y_train) ,svc.score(X_test, y_test)
    elif model == "KNN_1":
        knc = KNeighborsClassifier(n_neighbors=1)
        knc.fit(X_train,y_train)
        return knc.score(X_train, y_train) ,knc.score(X_test, y_test)
    elif model == "KNN_3":
        knc = KNeighborsClassifier(n_neighbors=3)
        knc.fit(X_train,y_train)
        return knc.score(X_train, y_train) ,knc.score(X_test, y_test)
    elif model == "KNN_5":
        knc = KNeighborsClassifier(n_neighbors=5)
        knc.fit(X_train,y_train)
        return knc.score(X_train, y_train) ,knc.score(X_test, y_test)
    else:
        return rfc.score(X_train, y_train) ,rfc.score(X_test, y_test)

In [ ]:
w_model= widgets.Dropdown(
    description = 'Model',
    options = ["RFC","LR","LSV","PolySVC","RbfSVC","KNN_1","KNN_3","KNN_5"],    # a sorted list of unique models
    value = "RFC",
    style = {"description_width": '50px'},
    layout = Layout(width="15%")
)

import matplotlib.pyplot as plt

def view(model):
        train_score, test_score = model_ch(model)
        print("Training Accuracy is" , (train_score))
        print("Testing Accuracy is" , (test_score))
        labels = "Test Accuracy","Test Inaccuracy"
        sizes = [test_score,1-test_score]
        explode = (0.1,0)
        fig1, ax1 = plt.subplots()
        ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',shadow=True, startangle=90)
        ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
        plt.show()



i = interactive(view, model=w_model)
display(i)

interactive(children=(Dropdown(description='Model', layout=Layout(width='15%'), options=('RFC', 'LR', 'LSV', 'â€¦

In [ ]:
def feat_ch(feat,model,size):
    if feat == "Home":
        features = ["Rank_diff","Attendance","Day_bin"]
        X = df[features]
    elif feat == "Rank":
        features = ["Home_venue", "Attendance","Day_bin"]
        X = df[features]
    elif feat == "Attendance":
        features = ["Home_venue", "Rank_diff","Day_bin"]
        X = df[features]
    elif feat == "Day":
        features = ["Home_venue", "Rank_diff","Attendance"]
        X = df[features]
    else:
        features = ["Home_venue", "Rank_diff","Attendance","Day_bin"]
        X = df[features]
    y = df[target]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=size, random_state=0) # Split the dataset on 70:30 ratio


    if model == "RFC":
        rfc.fit(X_train,y_train)
        return rfc.score(X_test, y_test)
    if model == "LR":
        lr.fit(X_train,y_train)
        return lr.score(X_test, y_test)
    if model == "LSV":
        svc= SVC(kernel="linear")
        svc.fit(X_train,y_train)
        return svc.score(X_test, y_test)
    if model == "KNN_3":
        knc = KNeighborsClassifier(n_neighbors=3)
        knc.fit(X_train,y_train)
        return knc.score(X_test, y_test)

In [ ]:
w_feat= widgets.ToggleButtons(
    description = 'Feature',
    options = ["All"] + ["No Home", "No Rank","No Attendance","No Day"],    # a sorted list of unique features
    value = "All",
    style = {"description_width": '50px'},
    layout = Layout(width="15%")
)

w_model= widgets.Dropdown(
    description = 'Model',
    options = ["RFC","LR","LSV","KNN_3"],    # a sorted list of unique models
    value = "RFC",
    style = {"description_width": '50px'},
    layout = Layout(width="15%")
)

w_size = widgets.ToggleButtons(
    description = 'Test Set',
    options = [0.9,0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1],
    value = 0.3,
    style = {"description_width": '50px'},
    layout = Layout(width="90%")
)

def view(feat,model,size):
        test_score = feat_ch(feat,model,size)
        print("Testing Accuracy is" , test_score)
        labels = "Test Accuracy","Test Inaccuracy"
        sizes = [test_score,1-test_score]
        explode = (0.1,0)
        fig1, ax1 = plt.subplots()
        ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',shadow=True, startangle=90)
        ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
        plt.show()


i = interactive(view, feat=w_feat,model=w_model,size=w_size)
display(i)

interactive(children=(ToggleButtons(description='Feature', layout=Layout(width='15%'), options=('All', 'No Homâ€¦

## Observation

We can make a few salient observations here. The notable ones being:
- A balance between training and test size ensures a good fit. A skewed training and testing ratio results in poor accuracy.
- All features are important but some features are more important than others. This is especially true with regards to certain features like relative ranking in our case.
- Some models perform better and behave differently with different feature sets and training to test ratios. It is thus important to evaluate all models before picking one out as the sole predictive tool.

## Conclusion

That concludes our experiment and project. We have investigated the effect of various features and the train-test sample size effect on the accuracy of our models. The results clearly demonstrate how small variations can affect the outcome of the accuracy scores.

The takeaway from this experimental project was that football matches are a fun and interesting classification problem. There is certainly further room for improvement in our project and we can definitely go beyond the small number of features we have used here. However we wanted to keep our project simple to understand but interactive and fun to use.

### CHALLENGES

We encountered the following challenges in carrying out this project:

- Project topic change: Our first topic was not approved by the course Lecturer, because it was too simple to be a project topic. We had to search for a new project topic that befits a team project and got approval from the course Lecturer.
  
- Learning new things: We had to learn new things like; how to get data using web scrapping, data scripting and how to implement machine learning algorithms to answer our research questions.
  
- Diversity and inclusion: We came from different countries and background with varying programming knowledge.To ensure proper understanding and inclusion among group members, we shared tasks, carried them out, and explained the outcome for better understanding.

## We would like to thank Professor and all of our classmates for being a part of this presentation !!!!!

In [ ]:
Image(value=open("thank.png", 'rb').read(),width="600")

Image(value=b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01\x01,\x01,\x00\x00\xff\xdb\x00C\x00\x08\x06\x06\x07\â€¦